<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="bg-blue ">Hello <%= 2+2 %> </h1>
    <%  /*
        ab jaise maine bataya tha ki html mein hum kisi tag mein 2+2 likhe toh woh 4 print nahin karega screen par, but ejs
        mein kar sakte hhain or isko karne ke liye humein ek sytax mein likhna padta hai
        Syntax:- 'lest-tha(sign) precentage(sign) euqal(sign) your-content precentage(sign) greater-than(sign)'
    */ %>

</body>
</html>